<!DOCTYPE html>
<html>

<head>
    <title>Add a Book</title>
    <link rel="stylesheet" href="../styles/sytles.css">
</head>
    <body>
        <h1>Add a New Book</h1>
        <nav>
            <a href="/">Home</a> | <a href="/books">View Books</a>
        </nav>
        <form action="/books" method="POST">
            <label>Title:</label>
            <input type="text" name="title" required><br>

            <label>Author:</label>
            <select name="author" required>
                <% authors.forEach(author=> { %>
                    <option value="<%= author._id %>">
                        <%= author.name %>
                    </option>
                    <% }) %>
            </select><br>

            <label>Genre:</label>
            <select name="genre" required>
                <% genres.forEach(genre=> { %>
                    <option value="<%= genre._id %>">
                        <%= genre.name %>
                    </option>
                    <% }) %>
            </select><br>

            <button type="submit">Add Book</button>
        </form>
    </body>
</html>